/* Sección cuentas individual */
#cuentas {
  display: flex;
  flex-direction: column;
  background: #c55b5b;
  color: black;
  padding: 20px;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
}


