body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #189, #48e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo h2 {
    color: #189;
    font-size: 26px;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #189;
}

button {
    background-color: #189;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #48e;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

.aviso{
    color: #555;
    font-size: 11px;
}